@use "../../variables"

.main-header 
    width: 100%
    max-height: 80px

    border-bottom: 1px solid variables.$color-grey-5

    animation: header-show-up 0.8s ease
    
    position: fixed
    top: 0
    z-index: 10
    background-color: variables.$color-white-fixed

    display: flex
    justify-content: space-between
    align-items: center
    
    &>a
        margin: 20px

    >nav
        transition: 0.3s ease
        
        display: flex
        flex-direction: column
        gap: 30px
        justify-content: space-between

        width: 100%
        min-height: 15vh

        padding: 20px
        padding-top: 30px

        background-color: variables.$color-grey-10
        position: fixed
        z-index: 8
        top: 65px

        button
            display: flex
            justify-content: center
            align-items: center
            background-color: variables.$color-brand-1

        a
            font-weight: 600
            font-size: 16px
            color: variables.$color-grey-2

            transition: 0.3s ease

            &:nth-child(2)
                padding: 10px

                color: variables.$color-grey-0
                border: 1px solid variables.$color-grey-4
                border-radius: 0.25rem

                &:hover
                    background-color: variables.$color-grey-0
                    border: 1px solid variables.$color-grey-0
                    color: variables.$color-white-fixed

    .user-dropdown
        transition: 0.3s ease
        position: absolute
        top: 80px
        left: 0

        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        gap: 0

        border-radius: 4px
        
        width: 100%
        height: 200px
        background-color: variables.$color-grey-10
        
        padding: 0
        margin: 0
        padding: 20px 0

        .loading-icon
            width: 30px
            height: 30px

        a,button
            font--weight: 400
            color: variables.$color-grey-3
            background-color: transparent

            width: 100%
            padding: 10px

            display: flex
            justify-content: flex-start

            padding: 10px 20px
            margin: 0

            transition: 0.3s ease

            &:hover
                background-color: variables.$color-grey-7



    .dropdown-btn

        display: flex
        flex-direction: column
        justify-content: space-between

        background-color: transparent
        border: none

        transition: 0.3s ease

        margin: 20px
        width: 20px
        height: 100%

        border: 1px solid blue
        span
            transition: 0.3s ease
            width: 100%
            height: 20%

            background-color: variables.$color-grey-0
    
    .active-dropdown
        transform: translateX(8px)
        span
            height: 15%
            &:nth-child(1)
                transform: rotate(45deg) translateY(8px)
            &:nth-child(2)
                filter: blur(2px)
                opacity: 0.5
                transform: translateX(20vw)
            &:nth-child(3)
                transform: rotate(-45deg) translateY(-8px)

    .hidden-dropdown-menu
        opacity: 0.4
        transform: translateX(-100vw)


@media (min-width: 768px)
    .main-header
        padding: 20px 59px

        .hidden-dropdown-menu
            opacity: 1
            transform: translateX(0)

        .dropdown-btn
            display: none

        >nav
            background-color: red
            box-shadow: none

            display: flex
            flex-direction: row
            justify-content: flex-end

            position: relative
            top: 0

            opacity: 1
            transform: translateX(0)
            
            align-items: center
            gap: 3rem

            min-height: 0px
            height: 100%
            width: 15%

            padding: 0
            background-color: transparent

            .user-dropdown
                transform: translateY(-400px)
                
            &:hover
                .user-dropdown                    
                    transform: translateY(-30px)



            &::before
                content:""
                position: absolute
                left: -30px
                top: -110px

                height: 100px
                width: 1px
                background-color: variables.$color-grey-6

@keyframes header-show-up 
    from
        transform: translateY(-10vh)
    to
        transform: translateY(0) scale(1)