@use "../../_variables"

.edit-profile-form
    margin-top: 30px

    display: flex
    flex-direction: column
    gap: 20px
    
    width: 100%

    input, textarea
        width: 100%

    textarea
        max-height: 100px
    
    .form-buttons
        display: flex
        align-items: center
        gap: 10px
        justify-content: space-between

        button
            padding: 10px 0