@use '../../_variables'

.modal-bg
    width: 100vw
    height: 100vh

    position: fixed
    top: 0
    z-index: 20

    background-color: rgba(0,0 , 0, 0.5)

    display: flex
    align-items: center
    justify-content: center

    animation: display-modal-bg 0.3s ease
    
    .modal
        background-color: variables.$color-grey-10

        padding: 20px 25px

        margin: 10px
        border-radius: 8px

        width: 100%
        max-width: 520px 

        max-height: 95vh
        overflow-y: scroll
        overflow-x: hidden

        animation: display-modal 0.5s ease

        &::-webkit-scrollbar 
            width: 8px // Largura da barra de rolagem
        

        &::-webkit-scrollbar-thumb 
            background-color: variables.$color-grey-5 // Cor do polegar da barra de rolagem
            border-radius: 4px // Raio do canto do polegar
        

        &::-webkit-scrollbar-track 
            background-color: variables.$color-grey-10 // Cor do track (fundo) da barra de rolagem
            border-radius: 4px // Raio do canto do track
        

        header
            display: flex
            justify-content: space-between

            margin-bottom: 30px

            h2
                color: variables.$color-grey-1
                font-size: 1.6rem
                font-weight: 600

            button
                width: 2rem
                height: 2rem
                background-color: transparent
                border: none

                opacity: 0.5
                transition: 0.3s ease
                &:hover
                    opacity: 1
                *
                    width: 100%
                    height: 100%


@keyframes display-modal-bg 
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes display-modal
    0%
        transform: translateY(100vh)
    100%
        transform: translateY(0)